.ipynb_checkpoints
*/.ipynb_checkpoints/*


/.quarto/
/_manuscript
/.quarto/
/dumpster/
/IRB/
/notmy_scripts/
/drafts_survey/
/notes/
/data/
/data-raw/

.Rproj.user
.Rhistory
.RData
.Ruserdata
.httr-oauth
.DS_Store
